<mat-spinner *ngIf="isLoading" class="loader"></mat-spinner>

<div class="cart-container" *ngIf="!isLoading">
  <div *ngIf="cartItems?.length > 0">
    <mat-card class="cart-card" *ngFor="let item of cartItems">
      <div class="image-container">
        <img class="image" src="{{item.imageUrl}}" />
      </div>
      <div class="text-container">
        <span>{{item.name}}</span>
        <span>{{item.stock}} Available</span>
        <span>R {{item.price}}</span>
      </div>
      <div class="text-container">

        <span>Quantity:
          <input matInput type="number" min="1" max="{{item.stock}}" [(ngModel)]="item.quantity"
            (ngModelChange)="quantityUpdated(item)" />
        </span>
        <span>Total: R {{item.price * item.quantity}}</span>
        <span class="delete-item-button">
          <button mat-icon-button color="" (click)="removeCartItem(item)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </span>

      </div>
    </mat-card>
  </div>

  <div *ngIf="cartItems.length == 0" class="empty-message">Cart is Empty</div>

  <div>
    <mat-card class="totals-card">
      <h2>Cart Summary</h2>
      <span>Total: ({{cartItems.length}} {{cartItems.length == 1 ? 'item' : 'items'}}): R {{getCartTotal()}}</span>
      <button (click)="checkout()" mat-raised-button color="accent" class="checkout-button">Checkout</button>
      <button mat-stroked-button color="primary" (click)="clearCart()">Clear Cart</button>
    </mat-card>
  </div>
</div>