.image {
  height: 100px;
  width: 100px;
}

.image-container {
  display: flex;
}


.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 10px;
}

.cart-card {
  display: flex;
  margin: 10px;
}

.totals-card {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.cart-container {
  justify-content: space-evenly;
  display: flex;
}

.checkout-button {
  margin-top: 15px;
  margin-bottom: 10px;
}

.delete-item-button {
  align-self: flex-end;
}

.empty-message {
  font-size: 24pt;
  margin-top: 15px;
}
