<mat-spinner *ngIf="isLoading" class="loader"></mat-spinner>

<div class="product-list-container" *ngIf="!isLoading">
  <mat-card class="item-card" *ngFor="let productItem of products">
    <div class="image-container">
      <img class="image" src="{{productItem.imageUrl}}" />
    </div>
    <div class="text-container">
      <span>{{productItem.name}}</span>
      <span>R {{productItem.price}}</span>
      <span>{{productItem.shortDesc}}</span>
      <span *ngIf="productItem.stock > 0">{{productItem.stock}} Available</span>
      <span *ngIf="productItem.stock == 0">Sold out</span>
    </div>
    <div class="button-container">
      <button (click)="addItemToCart(productItem)" mat-raised-button color="accent">Add to cart</button>
    </div>

  </mat-card>

</div>