.image {
  height: 100px;
  width: 100px;
}

.item-card {
  display: flex;
    flex-direction: row;
    margin: 10px;
    width: 40%;
}

.image-container {
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
}

.product-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-grow: 2;
}
