.banner {
  background-color: #cc0099;
  color: white;
  height: 100px;
  width: 100%;
  font-size: 24pt;
  font-family: 'roboto';
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  font-size: 24pt;
  display: flex;
  width: 95%;
  justify-content: center;
  cursor: pointer;
}
