<div class="banner">
  <div (click)="headerClicked()" class="header-button">Yarn Dragon</div>
  <button (click)="navigateToLogin()" mat-icon-button color="accent" *ngIf="!isLoggedIn()">
    <mat-icon>login</mat-icon>
  </button>
  <button (click)="logout()" mat-icon-button color="accent" *ngIf="isLoggedIn()">
    <mat-icon>logout</mat-icon>
  </button>
  <button (click)="navigateToCart()" mat-icon-button color="accent">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
<div>
  <router-outlet></router-outlet>
</div>
