<mat-spinner *ngIf="isLoading" class="loader"></mat-spinner>

<div class="login-container" *ngIf="!isLoading">
  <div class="banner-container"><img src="" /></div>
  <div class="login-text">Login</div>

  <div class="login-form-container">
    <form [formGroup]="form">
      <div class="input-container">
        <mat-form-field>
          <input class="form-control text-input" id="emailInput" name="email" placeholder="Email" matInput
            formControlName="email" />
          <mat-error>Please provide a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" class="form-control text-input" id="passwordInput" name="password"
            placeholder="Password" matInput formControlName="password" (keyup.enter)="loginClicked()" />
          <mat-error>Please enter a password</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isRegister">
          <input type="password" class="form-control text-input" id="confirmPasswordInput" name="confirmPassword"
            placeholder="Confirm Password" matInput formControlName="confirmPassword"
            (keyup.enter)="registerClicked()" />
        </mat-form-field>
        <mat-error *ngIf="isRegister && hasError">{{errorMessage}}</mat-error>
      </div>

      <div class="button-container">
        <button mat-flat-button color="primary" (click)="loginClicked()" *ngIf="!isRegister">Login</button>
        <button mat-flat-button color="primary" *ngIf="isRegister" (click)="registerBack()">Back</button>
        <button mat-flat-button color="accent" class="register-button" (click)="registerClicked()">Register</button>
      </div>
    </form>
  </div>
</div>