.login-container {
  width: 25%;
  margin: auto;
  margin-top: 30px;
}

.login-text {
  font-size: 17px !important;
  margin-bottom: 15px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.button-container > button {
  width: 150px;
}

.register-button {
  float: right;
}

.banner-container {
  text-align: center;
}

.error-container {
  color: red;
  text-align: center;
  margin-top: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
