
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$yarn-dragon-pallete: (
    50 : #f9e0f3,
    100 : #f0b3e0,
    200 : #e680cc,
    300 : #db4db8,
    400 : #d426a8,
    500 : #cc0099,
    600 : #c70091,
    700 : #c00086,
    800 : #b9007c,
    900 : #ad006b,
    A100 : #ffd7ed,
    A200 : #ffa4d7,
    A400 : #ff71c0,
    A700 : #ff58b5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$yarn-dragon-ng-primary: mat-palette($yarn-dragon-pallete, 500);
$yarn-dragon-ng-accent: mat-palette($mat-cyan, 400);

// The warn palette is optional (defaults to red).
$yarn-dragon-ng-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$yarn-dragon-ng-theme: mat-light-theme((
  color: (
    primary: $yarn-dragon-ng-primary,
    accent: $yarn-dragon-ng-accent,
    warn: $yarn-dragon-ng-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yarn-dragon-ng-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loader {
  margin: auto;
  margin-top: 30px;
}
